body{
    max-width: 100%;
    margin:0;
    padding: 0;
    overflow: hidden;
    background:#F9F9FB;
}
.container{
    margin: auto;
}
.clear_float{
    clear:both;
}

/***********************************************start slider ***************************************/
.slider{
    margin-top: 150px;
    @media(max-width:767px){
        margin-top: 50px;
    }
    .info{
        float: $float_left;
        width:50%;
        @media(max-width:767px){
            width:100%;
        }
        q{  
            display:block;
            text-align:center;
            line-height:1.5;
            font-family: Arial, Helvetica, sans-serif;
            font-size:22px;
            font-weight:550;
            font-style:italic;
            margin: 100px auto ;
            color:#282828;
            @media(max-width: 992px){
                font-size: 18px;
            }
        }
    }

    .slider_img{
        float: $float_left;
        width:50%;
        @media(max-width:767px){
            width:100%;
        }
        img{
            width:100%;
            height:100%;
            background-size: cover;
            @media(max-width: 1200px){
                height: 350px;
            }
        }
    }
}
/***********************************************start slider ***************************************/


/* start our title for all sections  ***************************************************************/
.our_title{
    position: relative;
    h2{
        width:bold;
        margin:20px auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        color:#303030;
        text-transform: capitalize;
        text-align:center;
        @media #{$max_medium}{
            font-size:38px ;
        }
    }
}
/* end our title for all sections ***************************************************************/



/* start our services ***************************************************************/
.our_services{
    margin-top:100px;
    .main_img{
        @media(max-width:767px){
            height: 250px;
        }
    }
    .services_box{
        margin-top:50px;
        text-align: center;
        float:$float_left;
        @media(max-width:767px){
            width:100%;
        }
        @media(min-width:768px){
            width:50%;
        }
        @media(min-width:992px){
            width:calc(100%/3);
        }
        .cont_icon{
            width:70px;
            height:70px;
            margin:5px auto;
            img{
                width:100%;
                height: 100%;
            }
        }
        @media #{$max_mobile}{
            &:not(:first-of-type){
                margin-top:50px;
            }
            i{
                display: block;
                font-size: 50px;
                margin-bottom:8px;
            }
        }
        @media #{$min_medium}{
            float:$float_left;
            width:calc(100%/3);
            &:not(:last-of-type){
                padding:0 15px;
            }
        }
        .box_title{
            color:#555;
            margin-bottom:15px;
            font-weight: .8em;
        }
        p{
            color:#777;
            line-height: 1.5;
            margin:0 0 5px 0;
        }
        h5{
            color:$main_color;
            margin-top:0;
            color:#0072FF;
            cursor: pointer;
            &:hover{
                color:#f00;
            }
            &::after{
                content:"...";
            }
        }
    }
}
/* end our services ***************************************************************/




/* start our templats   ***************************************************************/
.our_tempalts{
    overflow: hidden;
    margin-top:150px;
    .services_box{
        margin-bottom: 20px;
        @media #{$max_mobile}{
            width:100%;
            .cont_img{
                margin:0 auto;
            }
        }
        @media #{$min_small}{
            overflow: hidden;
            float: $float_left;
            width:calc(98%/2);
            margin-left:.5%;
            margin-right: .5%;
        }
        @media #{$min_medium}{
            overflow: hidden;
            float: $float_left;
            width:calc(91%/3);
            margin-right: 1.5%;
            margin-left: 1.5%;
        }

        .cont_img{
            position: relative;
            width:100%;
            height:100%;
            margin: 0 auto;
            padding: 10px;
            padding: 4px 4px 0 4px;
            background: #fff;
            @include prefixer(transition,all .5s ease-in-out,webkit moz o );
            img{
                width:100%;
                height:250px;
            }
            .overlay{
                position:absolute;
                height:100%;
                width:100%;
                top:0;
                left:0;
                background:rgba(0,0,0,.6);
                z-index:999;
                text-align: center;
                line-height: 400px;
                color:#fff;
                display: none;
                .show{
                    padding: 5px  15px;
                    box-shadow: 0px 0px 1px 1px #fff;
                    background:#333;
                    color:#fff;
                    cursor: pointer;
                    font-weight:400;
                    border-radius: 5px;
                    &:hover{
                        background:#111;
                        color:#fff;
                    }
                }
            }
        }
        p{
            color:#777;
            line-height: 1.5;
            margin:0 0 5px 0;
            padding: 0;
            font-size: 13px;
        }
        h5{
            color:#222;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 15px;
            margin-top:10px;
            text-align: center;
        }
        .big_img{
            display: none;
            position: fixed;
            width:100%;
            height:100%;
            top:0;
            left:0;
            background:rgba(0,0,0,.9);
            z-index: 99999;
            margin: 0 auto;
            img{
                width:80%;
                height: 80%;
                margin: 5% auto;
                display: block;
                border: 13px solid #fff;
            }
            .close{
                position: absolute;
                top:3%;
                right:2%;
                color:#f00;
                font-size: 20px;
                cursor: pointer;
            }
        }
    }
}
/* end our tebplates  ***************************************************************/


/* start team plance  ***************************************************************/
.our_plans{
    background:#fff;
    padding:120px 0 100px 0;
    .info{
        font-family: "Segoe UI", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
        float:$float_left;
        width:40%;
        padding: 0 15px;
        @media #{$max_mobile}{
            padding:0;
            width:100%;
            margin-bottom: 40px;
        }
        h1{
            font-size:48px ;
            font-weight: bold;
            color:#303030;
            margin-top: 40px;
            margin-bottom: 0;
            @media #{$max_mobile}{
                padding: 0 ;
                font-size:38px ;
            }
            @media #{$max_medium}{
                margin-top:0;
            }
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color:#959597 ;
            padding:0 80px 0 0 ;
            @media #{$max_mobile}{
                padding: 0 ;
            }
        }
        a{  
            font-weight: 700;
            font-size: 14px;
            color:#523ee8;
            cursor: pointer;
            &:hover{
                color:#50006F;
            }
            i{
                font-size: 15px;
                position: relative;
                top: 1px;
                left:5px;
            }
        }
    }
    .cont_img{
        float:$float_left;
        width: 60%;
        padding: 0 15px;
        @media #{$max_mobile}{
            padding:0;
            width:100%;
            height: 300px;
        }
        @media #{$max_medium}{
            height: 300px;
        }
        img{
            width:100%;
            height:100%;
        }
    }
}
/* end  team plance ***************************************************************/




/* start free files  ***************************************************************/
.our_files{
    background:#fff;
    padding:0 0 240px 0;
    display: flex;
    @media #{$max_mobile}{
        padding:0 0 70px 0;
    }
    .info{
        font-family: "Segoe UI", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
        float:$float_left;
        width:40%;
        padding-left: 50px;
        @media #{$max_mobile}{
            padding: 0 15px;
            width:100%;
            margin-bottom: 40px;
            order: 1;
        }
        @media #{$min_medium}{
            margin-top:-10px;
        }
        h1{
            font-size:48px ;
            font-weight: bold;
            color:#303030;
            margin-top: 40px;
            margin-bottom: 0;
            @media #{$max_mobile}{
                padding: 0 ;
                font-size:38px ;
            }
            @media #{$max_medium}{
                margin-top:0;
            }
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color:#959597 ;
            padding:0 80px 0 0 ;
            @media #{$max_mobile}{
                padding: 0 ;
            }
        }
        a{  
            font-weight: 700;
            font-size: 14px;
            color:#523ee8;
            cursor: pointer;
            &:hover{
                color:#50006F;
            }
            i{
                font-size: 15px;
                position: relative;
                top: 1px;
                left:5px;
            }
        }
    }
    .cont_img{
        float:$float_left;
        width: 60%;
        padding-right: 25px;
        @media #{$max_mobile}{
            padding: 0 15px;
            width:100%;
            height: 300px;
            padding: 0;
            order: 1;
        }
        @media #{$max_medium}{
            height: 300px;
        }
        img{
            width:100%;
            height:100%;
        }
    }
}
/* end free files ***************************************************************/






/* start subscribe  ***************************************************************/
.subscripe{
    background:#fAFAFA;
    height: 422px;
    margin-bottom: 100px;
    @media #{$max_mobile}{
        height: 255px;
    }
    .info{
        font-family: "Segoe UI", "Fira Sans", "Helvetica Neue", Arial, sans-serif;
        float:$float_left ;
        width:40%;
        margin-top: 100px !important;
        padding: 0 15px;
        @media #{$max_mobile}{
            padding:0;
            width:100%;
            margin-top:0;
            margin-bottom: 120px;
        }
        @media #{$min_medium}{
            margin-top:-10px;
        }
        h1{
            font-size:48px ;
            font-weight: bold;
            color:#303030;
            margin-top: 10px;
            margin-bottom: 30px;
            @media #{$max_medium}{
                padding: 0 ;
                font-size:38px ;
                margin-top:-50px;
            }
            @media (min-width:768px) and (max-width:1200px){
                margin-top: -40px;
            }
        }
        p{
            font-size: 18px;
            font-weight: 400;
            color:#959597 ;
            margin-bottom: 0;
        }
        a{  
            font-weight: 700;
            font-size: 14px;
            color:#523ee8;
            cursor: pointer;
            padding: 8px 30px;  
            border-radius: 7px;
            background: $defult_color;
            @include prefixer(transition,all .3s ease-in-out,webkit moz o );
            color:#fff;
            &:hover{ 
                background: #008800;
            }
        }
    }
    .cont_img{
        float:$float_left;
        width: 60%;
        padding: 0 15px;
        position: relative;
        top:-78px;
        @media #{$max_medium}{
            height: 300px;
        }
        img{
            height: 500px;
        }
    }
}
/* end subscribe ***************************************************************/

/* start scroll to top */
.scroll_top{
    position:fixed;
    bottom:10px;
    right:21px;
    color:#79A63D;
    cursor: pointer;
    display: none;
}
/* end scroll to top */



/* start framwork */
.d-xs-none{
    @media #{$max_mobile}{
        display: none;
    }
}
.d-xs-block{
    @media #{$max_mobile}{
        display: block;
    }
}

.d-sm-none{
    @media #{$min_small}{
        display: none;
    }
}
.d-sm-block{
    @media #{$min_small}{
        display: block;
    }
}
/* end framwork */